<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WcfSetting" type="XS.WCF.WCFHelper.Config.InitConfig,XS.WCF.WCFHelper" requirePermission="false"/>
  </configSections>
  <WcfSetting>
    <WcfServer Path="~/servercontract.config"/>
    <WcfConstant Path="~/serverconst.config"/>
  </WcfSetting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
